Node-Red/02_Lectura_Completa.json
[
    {
        "id": "2f5755c7fdf3b0c1",
        "type": "tab",
        "label": "02_Lectura_Completa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e6bb26798d95fd9",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8e9f55bbf8b6a9f6",
            "5bf0dc579ba3777b",
            "9107c7743e9871a8",
            "4cfeea8d10149c7e",
            "882b52f914d48bcf",
            "22795b8369b658dd",
            "cae2c5596127d214"
        ],
        "x": 894,
        "y": 159,
        "w": 352,
        "h": 282
    },
    {
        "id": "719dab36d89f970d",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "76eda127d9017459",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4ef58babb75f83db",
            "6613e1cec1e9008a",
            "605bbb7b751812f5",
            "2b0ce42a39ce54c2",
            "e6d6a2a1f4ec1f3b",
            "40f6363e9f5adc30"
        ],
        "x": 414,
        "y": 579,
        "w": 452,
        "h": 242
    },
    {
        "id": "28e2871482b626f8",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "76eda127d9017459",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "29eea2a5d4729517",
            "ed06fb7b36fab6d7",
            "1f56eb3cdb4317f3",
            "5c5376766118484c",
            "059c4ba9950733dd",
            "bba405d8211cad9c"
        ],
        "x": 894,
        "y": 579,
        "w": 432,
        "h": 242
    },
    {
        "id": "76eda127d9017459",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e8d8844da556ff01",
            "719dab36d89f970d",
            "28e2871482b626f8"
        ],
        "x": 388,
        "y": 499,
        "w": 964,
        "h": 348
    },
    {
        "id": "81b601a34c437d37",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b11b7a9b3188554f",
            "ae8045240f1c7a67",
            "73d8b6c93a8fb6ba"
        ],
        "x": 388,
        "y": 1279,
        "w": 964,
        "h": 348
    },
    {
        "id": "ae8045240f1c7a67",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "81b601a34c437d37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "044b77e87edfa6ed",
            "8a52809d535c1f5f",
            "60838fd3cbe602da",
            "6a6b6e19fd89499f",
            "2d223c2eea8005ee",
            "02075f160a48ed9b"
        ],
        "x": 414,
        "y": 1359,
        "w": 452,
        "h": 242
    },
    {
        "id": "73d8b6c93a8fb6ba",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "81b601a34c437d37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d92cc4f4ddce5fb8",
            "7b036a3aeb7413e6",
            "bdadf1258ea2f8b3",
            "6cdc0f90b321b2ba",
            "d042deea3fea7c9c",
            "7cf7b471a8c84f8f"
        ],
        "x": 894,
        "y": 1359,
        "w": 432,
        "h": 242
    },
    {
        "id": "77984375e6f9bd54",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "268db7b214422d0a",
            "9a5adffcb0870f87",
            "7c119c92d20927db"
        ],
        "x": 388,
        "y": 879,
        "w": 924,
        "h": 348
    },
    {
        "id": "9a5adffcb0870f87",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "77984375e6f9bd54",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "60c0798308dd788f",
            "e81d7b6ed688f84e",
            "76b0f74f6e780091",
            "f75bab9b17ccb185",
            "0a17e95d607bd0c7",
            "b6ab8c066a73afb2"
        ],
        "x": 414,
        "y": 959,
        "w": 432,
        "h": 242
    },
    {
        "id": "7c119c92d20927db",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "g": "77984375e6f9bd54",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4e3b6928d1b455ca",
            "c0101fdf1c47b88b",
            "320f450141ba4003",
            "41d7c27772190e8d",
            "6a7b76750535858c",
            "acb172ce1627961b"
        ],
        "x": 874,
        "y": 959,
        "w": 412,
        "h": 242
    },
    {
        "id": "389862318fb1f404",
        "type": "group",
        "z": "2f5755c7fdf3b0c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f6b857575f48046",
            "75c270208473464d",
            "cb3aa7a1008a39ce",
            "2900cf0b70ecebdb",
            "b01b857cd0f849c2"
        ],
        "x": 394,
        "y": 159,
        "w": 472,
        "h": 202
    },
    {
        "id": "32da9343a9be4d6c",
        "type": "mqtt in",
        "z": "2f5755c7fdf3b0c1",
        "name": "",
        "topic": "sinte/cuerpo1/ensaht",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e1fa3d27579558",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ea6ccdea766df507",
                "5bf0dc579ba3777b",
                "9107c7743e9871a8",
                "2f6b857575f48046",
                "75c270208473464d",
                "2900cf0b70ecebdb",
                "882b52f914d48bcf",
                "cae2c5596127d214",
                "8e9f55bbf8b6a9f6"
            ]
        ]
    },
    {
        "id": "411a9923bcde4ab2",
        "type": "mqtt in",
        "z": "2f5755c7fdf3b0c1",
        "name": "",
        "topic": "sinte/cuerpo1/move",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e1fa3d27579558",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "cb88ef37012d9dbb",
                "4ef58babb75f83db",
                "6613e1cec1e9008a",
                "605bbb7b751812f5",
                "29eea2a5d4729517",
                "ed06fb7b36fab6d7",
                "1f56eb3cdb4317f3",
                "8a52809d535c1f5f",
                "60838fd3cbe602da",
                "bdadf1258ea2f8b3",
                "7b036a3aeb7413e6",
                "d92cc4f4ddce5fb8",
                "60c0798308dd788f",
                "e81d7b6ed688f84e",
                "76b0f74f6e780091",
                "4e3b6928d1b455ca",
                "c0101fdf1c47b88b",
                "320f450141ba4003",
                "e6d6a2a1f4ec1f3b",
                "bba405d8211cad9c",
                "6a7b76750535858c",
                "0a17e95d607bd0c7",
                "2d223c2eea8005ee",
                "d042deea3fea7c9c",
                "044b77e87edfa6ed"
            ]
        ]
    },
    {
        "id": "ea6ccdea766df507",
        "type": "debug",
        "z": "2f5755c7fdf3b0c1",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb88ef37012d9dbb",
        "type": "debug",
        "z": "2f5755c7fdf3b0c1",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "8e9f55bbf8b6a9f6",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "group": "3f8af9f1ba254a88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "AQI",
        "label": "AQI:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.ens.aqi",
        "valueType": "msg",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "5bf0dc579ba3777b",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "group": "3f8af9f1ba254a88",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "TVOC",
        "label": "TVOC:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.ens.tvoc",
        "valueType": "msg",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "9107c7743e9871a8",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "group": "3f8af9f1ba254a88",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "eCO2",
        "label": "eCO2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.ens.eco2",
        "valueType": "msg",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "4cfeea8d10149c7e",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "name": "ENS",
        "info": "",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "bcd03b54a7add800",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "name": "Cuerpo 1",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ef58babb75f83db",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "group": "e7cf4623f18d92b4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "AX",
        "label": "AX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.ax",
        "valueType": "msg",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "6613e1cec1e9008a",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "group": "e7cf4623f18d92b4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "AY",
        "label": "AY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.ay",
        "valueType": "msg",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "605bbb7b751812f5",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "group": "e7cf4623f18d92b4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "AZ",
        "label": "AZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.az",
        "valueType": "msg",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "29eea2a5d4729517",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "group": "e7cf4623f18d92b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GX",
        "label": "GX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.gx",
        "valueType": "msg",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "ed06fb7b36fab6d7",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "group": "e7cf4623f18d92b4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GY",
        "label": "GY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.gy",
        "valueType": "msg",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "1f56eb3cdb4317f3",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "group": "e7cf4623f18d92b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GZ",
        "label": "GZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A68.gz",
        "valueType": "msg",
        "x": 970,
        "y": 740,
        "wires": []
    },
    {
        "id": "e8d8844da556ff01",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "76eda127d9017459",
        "name": "Derecha",
        "info": "",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "2b0ce42a39ce54c2",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "name": "Accel",
        "info": "",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "5c5376766118484c",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "name": "Gyro",
        "info": "",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "b11b7a9b3188554f",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "81b601a34c437d37",
        "name": "Izquierda",
        "info": "",
        "x": 480,
        "y": 1320,
        "wires": []
    },
    {
        "id": "044b77e87edfa6ed",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "group": "a2ec657bc36c32c9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "AX",
        "label": "AX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.ax",
        "valueType": "msg",
        "x": 490,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8a52809d535c1f5f",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "group": "a2ec657bc36c32c9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "AY",
        "label": "AY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.ay",
        "valueType": "msg",
        "x": 490,
        "y": 1480,
        "wires": []
    },
    {
        "id": "60838fd3cbe602da",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "group": "a2ec657bc36c32c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "AZ",
        "label": "AZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.az",
        "valueType": "msg",
        "x": 490,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6a6b6e19fd89499f",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "name": "Accel",
        "info": "",
        "x": 490,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d92cc4f4ddce5fb8",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "group": "a2ec657bc36c32c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GX",
        "label": "GX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.gx",
        "valueType": "msg",
        "x": 970,
        "y": 1440,
        "wires": []
    },
    {
        "id": "7b036a3aeb7413e6",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "group": "a2ec657bc36c32c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GY",
        "label": "GY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.gy",
        "valueType": "msg",
        "x": 970,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bdadf1258ea2f8b3",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "group": "a2ec657bc36c32c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GZ",
        "label": "GZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.B68.gz",
        "valueType": "msg",
        "x": 970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6cdc0f90b321b2ba",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "name": "Gyro",
        "info": "",
        "x": 970,
        "y": 1400,
        "wires": []
    },
    {
        "id": "268db7b214422d0a",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "77984375e6f9bd54",
        "name": "Cuerpo",
        "info": "",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "60c0798308dd788f",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "group": "e453f09f132a8dce",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "AX",
        "label": "AX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.ax",
        "valueType": "msg",
        "x": 490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e81d7b6ed688f84e",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "group": "e453f09f132a8dce",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "AY",
        "label": "AY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.ay",
        "valueType": "msg",
        "x": 490,
        "y": 1080,
        "wires": []
    },
    {
        "id": "76b0f74f6e780091",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "group": "e453f09f132a8dce",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "AZ",
        "label": "AZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.az",
        "valueType": "msg",
        "x": 490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f75bab9b17ccb185",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "name": "Accel",
        "info": "",
        "x": 490,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4e3b6928d1b455ca",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "group": "e453f09f132a8dce",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GX",
        "label": "GX:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.gx",
        "valueType": "msg",
        "x": 950,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c0101fdf1c47b88b",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "group": "e453f09f132a8dce",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GY",
        "label": "GY:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.gy",
        "valueType": "msg",
        "x": 950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "320f450141ba4003",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "group": "e453f09f132a8dce",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GZ",
        "label": "GZ:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.imu.A69.gz",
        "valueType": "msg",
        "x": 950,
        "y": 1120,
        "wires": []
    },
    {
        "id": "41d7c27772190e8d",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "name": "Gyro",
        "info": "",
        "x": 950,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2f6b857575f48046",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "389862318fb1f404",
        "group": "3f8af9f1ba254a88",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperatura",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.aht.t",
        "valueType": "msg",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "75c270208473464d",
        "type": "ui-text",
        "z": "2f5755c7fdf3b0c1",
        "g": "389862318fb1f404",
        "group": "3f8af9f1ba254a88",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Humedad Relativa",
        "label": "rH:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.aht.rh",
        "valueType": "msg",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb3aa7a1008a39ce",
        "type": "comment",
        "z": "2f5755c7fdf3b0c1",
        "g": "389862318fb1f404",
        "name": "AHT",
        "info": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "b01b857cd0f849c2",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "389862318fb1f404",
        "group": "13f7503c2cb1577f",
        "name": "Temperatura/Humedad",
        "label": "Temperatura/Humedad",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.aht",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "60",
        "removeOlderPoints": "30",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2900cf0b70ecebdb",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "389862318fb1f404",
        "name": "function 1",
        "func": "// Espera msg.payload como objeto JSON\nconst p = msg.payload;\nconst t = p?.aht?.t;\nconst rh = p?.aht?.rh;\nconst ts = p?.ms ?? Date.now(); // ms del ESP32 o timestamp local\n\nlet out = [];\n\nif (typeof t === \"number\") {\n  out.push({\n    topic: \"temp\",\n    payload: t,\n    timestamp: ts\n  });\n}\n\nif (typeof rh === \"number\") {\n  out.push({\n    topic: \"rh\",\n    payload: rh,\n    timestamp: ts\n  });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "b01b857cd0f849c2"
            ]
        ]
    },
    {
        "id": "882b52f914d48bcf",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "name": "function 2",
        "func": "const p = msg.payload;\nconst ens = p?.ens;\n\nif (!ens) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// TVOC (ppb)\nif (typeof ens.tvoc === \"number\") {\n    out.push({\n        topic: \"TVOC (ppb)\",\n        payload: ens.tvoc,\n        timestamp: ts\n    });\n}\n\n// eCO2 (ppm)\nif (typeof ens.eco2 === \"number\") {\n    out.push({\n        topic: \"eCO2 (ppm)\",\n        payload: ens.eco2,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [
            [
                "22795b8369b658dd"
            ]
        ]
    },
    {
        "id": "22795b8369b658dd",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "group": "13f7503c2cb1577f",
        "name": "eCO2/TVOC",
        "label": "eCO2/TVOC",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "1000",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "60",
        "removeOlderPoints": "30",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cae2c5596127d214",
        "type": "ui-gauge",
        "z": "2f5755c7fdf3b0c1",
        "g": "1e6bb26798d95fd9",
        "name": "AQI",
        "group": "3ce88f24cf433fca",
        "order": 1,
        "value": "payload.ens.aqi",
        "valueType": "msg",
        "width": "2",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "AQI",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "5",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 970,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e6d6a2a1f4ec1f3b",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "name": "function 3",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.A68;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// AX\nif (typeof imu.ax === \"number\") {\n    out.push({\n        topic: \"A68_ax\",\n        payload: imu.ax,\n        timestamp: ts\n    });\n}\n\n// AY\nif (typeof imu.ay === \"number\") {\n    out.push({\n        topic: \"A68_ay\",\n        payload: imu.ay,\n        timestamp: ts\n    });\n}\n\n// AZ\nif (typeof imu.az === \"number\") {\n    out.push({\n        topic: \"A68_az\",\n        payload: imu.az,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 780,
        "wires": [
            [
                "40f6363e9f5adc30"
            ]
        ]
    },
    {
        "id": "40f6363e9f5adc30",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "719dab36d89f970d",
        "group": "5037d0cbe23dd8ef",
        "name": "Acelerómetro Derecha",
        "label": "Acelerómetro Derecha",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-2",
        "ymax": "2",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "4",
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "059c4ba9950733dd",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "group": "5037d0cbe23dd8ef",
        "name": "Giroscópio Derecha",
        "label": "Giroscópio Derecha",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-300",
        "ymax": "300",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 1200,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "bba405d8211cad9c",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "28e2871482b626f8",
        "name": "function 4",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.A68;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// GX\nif (typeof imu.gx === \"number\") {\n    out.push({\n        topic: \"A68_gx\",\n        payload: imu.gx,\n        timestamp: ts\n    });\n}\n\n// GY\nif (typeof imu.gy === \"number\") {\n    out.push({\n        topic: \"A68_gy\",\n        payload: imu.gy,\n        timestamp: ts\n    });\n}\n\n// GZ\nif (typeof imu.gz === \"number\") {\n    out.push({\n        topic: \"A68_gz\",\n        payload: imu.gz,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 780,
        "wires": [
            [
                "059c4ba9950733dd"
            ]
        ]
    },
    {
        "id": "0a17e95d607bd0c7",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "name": "function 5",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.A69;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// AX\nif (typeof imu.ax === \"number\") {\n    out.push({\n        topic: \"A69_ax\",\n        payload: imu.ax,\n        timestamp: ts\n    });\n}\n\n// AY\nif (typeof imu.ay === \"number\") {\n    out.push({\n        topic: \"A69_ay\",\n        payload: imu.ay,\n        timestamp: ts\n    });\n}\n\n// AZ\nif (typeof imu.az === \"number\") {\n    out.push({\n        topic: \"A69_az\",\n        payload: imu.az,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "b6ab8c066a73afb2"
            ]
        ]
    },
    {
        "id": "6a7b76750535858c",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "name": "function 6",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.A69;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// GX\nif (typeof imu.gx === \"number\") {\n    out.push({\n        topic: \"A69_gx\",\n        payload: imu.gx,\n        timestamp: ts\n    });\n}\n\n// GY\nif (typeof imu.gy === \"number\") {\n    out.push({\n        topic: \"A69_gy\",\n        payload: imu.gy,\n        timestamp: ts\n    });\n}\n\n// GZ\nif (typeof imu.gz === \"number\") {\n    out.push({\n        topic: \"A69_gz\",\n        payload: imu.gz,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1160,
        "wires": [
            [
                "acb172ce1627961b"
            ]
        ]
    },
    {
        "id": "2d223c2eea8005ee",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "name": "function 7",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.B68;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// AX\nif (typeof imu.ax === \"number\") {\n    out.push({\n        topic: \"B68_ax\",\n        payload: imu.ax,\n        timestamp: ts\n    });\n}\n\n// AY\nif (typeof imu.ay === \"number\") {\n    out.push({\n        topic: \"B68_ay\",\n        payload: imu.ay,\n        timestamp: ts\n    });\n}\n\n// AZ\nif (typeof imu.az === \"number\") {\n    out.push({\n        topic: \"B68_az\",\n        payload: imu.az,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1560,
        "wires": [
            [
                "02075f160a48ed9b"
            ]
        ]
    },
    {
        "id": "d042deea3fea7c9c",
        "type": "function",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "name": "function 8",
        "func": "const p = msg.payload;\nconst imu = p?.imu?.B68;\n\nif (!imu) return null;\n\nconst ts = p?.ms ?? Date.now();\n\nlet out = [];\n\n// GX\nif (typeof imu.gx === \"number\") {\n    out.push({\n        topic: \"B68_gx\",\n        payload: imu.gx,\n        timestamp: ts\n    });\n}\n\n// GY\nif (typeof imu.gy === \"number\") {\n    out.push({\n        topic: \"B68_gy\",\n        payload: imu.gy,\n        timestamp: ts\n    });\n}\n\n// GZ\nif (typeof imu.gz === \"number\") {\n    out.push({\n        topic: \"B68_gz\",\n        payload: imu.gz,\n        timestamp: ts\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1560,
        "wires": [
            [
                "7cf7b471a8c84f8f"
            ]
        ]
    },
    {
        "id": "b6ab8c066a73afb2",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "9a5adffcb0870f87",
        "group": "06b4084c2a5885b0",
        "name": "Acelerómetro Cuerpo",
        "label": "Acelerómetro Cuerpo",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-2",
        "ymax": "2",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 720,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "acb172ce1627961b",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "7c119c92d20927db",
        "group": "06b4084c2a5885b0",
        "name": "Giroscopio Cuerpo",
        "label": "Giroscopio Cuerpo",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-300",
        "ymax": "300",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 1170,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "02075f160a48ed9b",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "ae8045240f1c7a67",
        "group": "c2675c1e0d0d7486",
        "name": "Acelerómetro Izquierda",
        "label": "Acelerómetro Izquierda",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-2",
        "ymax": "2",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 730,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "7cf7b471a8c84f8f",
        "type": "ui-chart",
        "z": "2f5755c7fdf3b0c1",
        "g": "73d8b6c93a8fb6ba",
        "group": "c2675c1e0d0d7486",
        "name": "Giroscopio Izquierda",
        "label": "Giroscopio Izquierda",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-300",
        "ymax": "300",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "1",
        "removeOlderPoints": "50",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 1200,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "23e1fa3d27579558",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f8af9f1ba254a88",
        "type": "ui-group",
        "name": "Cuerpo 1 Ambiente",
        "page": "7a1f569b17558727",
        "width": "2",
        "height": 1,
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e7cf4623f18d92b4",
        "type": "ui-group",
        "name": "Cuerpo 1 Derecha",
        "page": "7a1f569b17558727",
        "width": "2",
        "height": 1,
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a2ec657bc36c32c9",
        "type": "ui-group",
        "name": "Cuerpo 1 Izquierda",
        "page": "7a1f569b17558727",
        "width": "2",
        "height": 1,
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e453f09f132a8dce",
        "type": "ui-group",
        "name": "Cuerpo 1 Centro",
        "page": "7a1f569b17558727",
        "width": "2",
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "13f7503c2cb1577f",
        "type": "ui-group",
        "name": "Temperatura/Humedad/eCO2/TVOC/AQI",
        "page": "7a1f569b17558727",
        "width": "3",
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3ce88f24cf433fca",
        "type": "ui-group",
        "name": "AQI",
        "page": "7a1f569b17558727",
        "width": "2",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5037d0cbe23dd8ef",
        "type": "ui-group",
        "name": "IMU Derecha",
        "page": "7a1f569b17558727",
        "width": "3",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "06b4084c2a5885b0",
        "type": "ui-group",
        "name": "IMU Cuerpo",
        "page": "7a1f569b17558727",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c2675c1e0d0d7486",
        "type": "ui-group",
        "name": "IMU Izquierda",
        "page": "7a1f569b17558727",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7a1f569b17558727",
        "type": "ui-page",
        "name": "Sintetizador Corporal",
        "ui": "96997e93bb8e23c9",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "c7a4f569521f722e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "96997e93bb8e23c9",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "c7a4f569521f722e",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ceed33478b437b01",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]